/data/original/zweblist-converted.json
venv
.vscode
.idea
/programs/CreateKnightSquireXml/packages/
/programs/CreateKnightSquireXml/.vs/
/programs/CreateKnightSquireXml/CreateKnightSquireXml/bin/
/programs/CreateKnightSquireXml/CreateKnightSquireXml/obj/
programs/CreateKnightSquireXml/CreateKnightSquireXml/packages
